@import "src/assets/style/design.scss";

.rules-section {
  font-size: 20px;
  color: $baseColor;
  margin-top: 48px;

  &__rules {
    margin-top: 16px;
  }

  &__rule {
    &_composite {
      border: 3px solid red;
    }
  }

  &__title {
    font-size: 1.2em;
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    margin-top: 20px;

    font-weight: 700;
    font-size: 1.05em;
  }

  &__filter {
    display: flex;
    align-items: center;
    margin-top: 16px;
    max-width: 764px;
  }

  &__elems-toggle {
    max-width: 764px;
    margin-top: 16px;

    &_KO {
      margin-left: 0 !important;
      margin-right: 8px;
      width: 65%;
    }

    &_effmu {
      margin-left: 0 !important;
      width: 100%;
    }

    &_status {
      margin-left: 8px !important;
    }
  }

  &__filter &__elems-toggle {
    margin-top: 0;
    margin-left: 16px;
  }

  &__filter-network {
    margin-left: 16px;
    width: 205px;
  }

  &__line {
    width: 4px;
    border-radius: 10px;
    margin: 0 8px;
    height: 36px;
    background-color: $baseColor;
  }
}
