.BaseInputString {
  box-sizing: border-box;

  width: 100%;
  height: 48px;
  padding-left: 18px;

  border: none;
  border-radius: 10px;
  outline: none;

  background-color: #f5f8ff;

  transition: 0.05s all ease-in-out;

  cursor: text;

  &:focus,
  &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &:disabled {
    background: ;
  }
}
