.input {
  background-color: #f5f8ff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f5f8ff;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
  padding-left: 18px;
  border-color: rgb(190, 206, 226);
  width: 100%;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    border-color: #4a72ff;
  }
}
