.wrapper {
  background: rgb(57, 99, 162);
  border-radius: 8px;
  position: relative;
  width: 38px;
  height: 38px;
  min-width: 38px;
  min-height: 38px;
  max-width: 38px;
  max-height: 38px;
  cursor: pointer;
  &:hover {
    div {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

.btn {
  background: url('../../assets/icons/refresh.png') center center/cover no-repeat;
  width: 20px;
  height: 20px;
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
