.button {
  min-width: 50px;
  padding: 8px 12px;

  border: none;
  border-radius: 10px;

  background: #4a72ff;
  color: white;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out, transform 50ms ease-in;

  &:hover {
    background-color: #3d5dd3;
  }

  &:active {
    transform: scale(0.98);
  }
}
