.button {
  border: 0;
  color: white;
  cursor: pointer;
  background: #4a72ff;
  border-radius: 10px;
  min-width: 50px;
  transition: 0.2s all ease-in-out;

  &:hover {
    background: #3d5dd3;
  }
}
