.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category {
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 5px;
}

.children {
    margin-bottom: 5px;
}