@import "src/assets/style/design.scss";

.user-settings {
  position: relative;
  padding: 60px 120px;
  box-sizing: border-box;
  max-width: 70vw;
  max-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 22px;

  @media (max-width: 1600px) {
    padding: 52px 88px;
    max-width: 80vw;
  }

  &__content {
    display: flex;
    overflow-y: scroll;
  }

  &__content-main-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 78px;
    margin-right: 4px;
  }

  &__close-icon {
    position: absolute;
    border: none;
    background: none;
    padding: 0;

    cursor: pointer;

    top: 37px;
    right: 40px;
    transition: 50ms ease-in transform;

    &:active {
      transform: scale(0.9);
    }

    img {
      display: block;
      pointer-events: none;
    }
  }

  &__save-button {
    margin-top: 36px;
    padding: 16px 0;

    border-radius: 20px;
    text-align: center;
    font-weight: 700;
  }
}

.user-settings-table {
  &__row {
    display: flex;

    border-top: 2px solid $borderColor;

    &:last-child {
      border-bottom: 2px solid $borderColor;
    }

    &_headline {
      font-weight: 400;
      color: $baseColor;
    }

    &:not(&_headline) .user-settings-table__cell:first-child {
      font-weight: 700;
    }
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 160px;
    font-size: 1em;
    line-height: 1em;

    border-left: 2px solid $borderColor;

    &:last-child {
      border-right: 2px solid $borderColor;
    }

    @media (max-width: 1600px) {
      width: 140px;
      padding: 12px 0;
    }
  }

  &_select-in-cells &__cell {
    padding: 12px 0;
  }
}

.user-settings-info {
  flex: 1;

  &__header {
    display: flex;
    margin-bottom: 36px;
  }


  &__color-pallete {
    width: max-content;
    margin-left: 0;
    margin-top: 18px;
  }

  &__header-alias {
    display: block;

    font-size: 1.33em;
  }

  &__header-password {
    display: flex;
    align-items: center;

    font-size: 0.9em;
    margin-top: 4px;
  }

  &__circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  &__color {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__header-password-block {
    display: flex;
    align-items: center;

    width: fit-content;
    height: 28px;
    margin-left: 6px;
    padding: 8px;

    border-radius: 5px;
    background-color: transparentize(#dddddd, 0.5);

    cursor: pointer;

    &:hover {
      background-color: transparentize(#dddddd, 0.3);
    }
  }

  &__header-password-text {
    display: block;

    &_hidden {
      line-height: 0;
      padding-top: 0.4em;
      user-select: none;
    }
  }

  &__header-password-img {
    display: block;
    height: 0.8em;
    margin-left: 4px;
    pointer-events: none;
    user-select: none;
  }

  &__settings {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: block;

    margin-bottom: 12px;

  }

  &__password-wrapper {
    margin-top: 16px;
  }

  &__settings-wrapper {
    flex: 1;
    display: flex;
  }

  &__input {
    height: 48px !important;

    &__text {
      font-size: 0.83em;
    }

  }

  &__additional-info {
    font-size: 0.85em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.8);

    img {
      height: 1em;
      margin-right: 12px;
    }
  }

  &__additional-info-line {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
}