.Rules {
  display: flex;
  margin-bottom: 5px;
}

.Rules div div div div {
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

span[aria-relevant="additions text"] + div {
  height: 100%;
}
.Rules > div {
  min-width: 80px;
}

.Rules div input {
  height: 100%;
}

.name {
  min-width: 250px !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 20%);
  font-size: 100%;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  min-height: 38px;
  box-sizing: border-box;
  transition: all 100ms;
  padding: 2px 8px;
  max-width: 80px;
  width: 100%;
  &:focus,
  &:active {
    outline: none;
  }
  cursor: pointer;
  margin: 0;
  &:hover {
    box-shadow: 0 0 0 1px #2684ff;
    border-color: #2684ff;
  }
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.maxButton {
  font-size: 18px;
  max-width: 200px;
}

.disabled {
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 90%);
  border-radius: 4px;

  color: #999999;
  pointer-events: none;
  &:focus,
  &:active {
    outline: none;
  }
}

.inactive {
  display: none;
}

.hide {
  display: none;
}
.hide + label ~ div {
  display: none;
}

.hide + label {
  border-bottom: 1px dotted green;
  padding: 0;
  color: green;
  cursor: pointer;
  display: inline-block;
}

.hide:checked + label {
  color: red;
  border-bottom: 0;
}

.hide:checked + label + div {
  display: block;
  margin-top: 10px;
}

.wrapper {
  margin-top: 10px;
}

.pager {
  margin-bottom: 100px;
}

.effmu {
  margin-left: 5px;
  margin-top: 10px;
}
