.header {
  display: flex;
  align-items: center;
  display: flex;
  position: relative;
}

.b {
  width: 40px !important;
}

.wrap {
  width: 100%;
  padding: 30px 50px;
  background: #e2e0f0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.wr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.timezone,
.makeup,
.time,
.network,
.level {
  width: 185px;
  height: 38px;
}

.timezone {
  width: 145px;
}

.alias {
  margin-left: 25px;
}

.inputAlias {
  max-width: initial;
  min-width: 150px;
}

.inputWrapper {
  margin-left: 20px;
  color: hsl(0, 0%, 20%);
  display: flex;
}

.fake {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.checkbox {
  user-select: none;
  cursor: pointer;
}

.input {
  display: flex;
  color: hsl(0, 0%, 20%);
  font-size: 100%;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  min-height: 38px;
  box-sizing: border-box;
  transition: all 100ms;
  padding: 2px 8px;
  max-width: 60px;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 1px #2684ff;
    border-color: #2684ff;
  }
}

.p {
  color: #333333;
}

#react-select-3-listbox {
  display: block !important;
}

.button {
  background: #4A72FF;
  border-radius: 10px;
  font-weight: 700;
  height: 38px;
  width: 145px;
}

.starts {
  display: flex;
}