.wrapper {
  box-sizing: border-box;
  padding-top: 25px;
  display: flex;
  align-items: center;
  min-height: 120px;
  display: flex;
  background-color: #e2e0f0;
  position: relative;
}

.wr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.wr2 {
  display: flex;
  min-width: 185px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

.timezone,
.makeup,
.time,
.network,
.level {
  width: 185px;
  height: 38px;
}

.timezone {
  width: 145px;
}

.alias {
  margin-left: 25px;
}

.inputAlias {
  max-width: initial;
  min-width: 150px;
}

.wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  color: hsl(0, 0%, 20%);
  display: flex;
}

.fake {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxWrapper {
  margin-top: 5px;
  display: flex;
}

.checkbox {
  color: hsl(0, 0%, 20%);
  display: flex;
}

.input {
  display: flex;
  color: hsl(0, 0%, 20%);
  font-size: 100%;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  min-height: 38px;
  box-sizing: border-box;
  transition: all 100ms;
  padding: 2px 8px;
  max-width: 60px;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 1px #2684ff;
    border-color: #2684ff;
  }
}

.p {
  color: #333333;
}

#react-select-3-listbox {
  display: block !important;
}
