.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(200px, 2fr)
    minmax(100px, 1fr) minmax(100px, 1fr) minmax(50px, 0.5fr) minmax(50px, 0.5fr)
    minmax(100px, 1fr);
}

.thead,
.tbody,
.tr {
  display: contents;
}

.nodata {
  margin-top: 50px;
  text-align: center;
}

.thead {
  background: rgb(57, 99, 162);
}

.thead .th {
  cursor: pointer;
  top: 0;
  position: sticky;
  background: rgb(57, 99, 162);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0px;
  border-collapse: collapse;
  color: white;
  &:first-child {
    border-top-left-radius: 8px;
  }
  &:last-child {
    border-top-right-radius: 8px;
  }
}

.tbody {
  .tr {
    padding: 8px;
    .td {
      background: #fbfbfbef;
    }
    &:nth-child(2n) {
      .td {
        background: #e2e0f0;
      }
    }
  }
  .td {
    color: rgb(38, 37, 37);
    min-height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .tr:last-child {
    .td {
      &:first-child {
        border-bottom-left-radius: 8px;
      }
      &:last-child {
        border-bottom-right-radius: 8px;
      }
    }
  }
}
.section {
  min-height: 200px;
  position: relative;
  flex: 1;
}
