.UserCard {
  position: relative;
  padding: 76px 120px 28px;
  box-sizing: border-box;
  max-width: 70vw;
  max-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 22px;

  @media (max-width: 1600px) {
    padding: 60px 88px 24px;
    max-width: 80vw;
  }

  &__Content {
    display: flex;
    overflow-y: scroll;
  }

  &__CloseIcon {
    position: absolute;

    cursor: pointer;

    top: 37px;
    right: 40px;
  }

  &__SaveButton {
    margin-top: 36px;
    cursor: pointer;
    background: #4a72ff;
    border-radius: 20px;
    width: 87%;
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
  }
}

$borderColor: rgba(74, 114, 255, 0.2);

.UserCardTable {
  &__Row {
    display: flex;

    font-weight: 700;

    border-bottom: 2px solid $borderColor;

    &:last-child {
      border-bottom: unset;
    }

    &_headline {
      font-weight: 400;
    }
  }

  &__Cell {
    padding: 16px 0;
    width: 180px;
    font-size: 1em;
    line-height: 1em;

    text-align: center;

    border-right: 2px solid $borderColor;

    &:last-child {
      border-right: unset;
    }

    @media (max-width: 1600px) {
      width: 140px;
      padding: 12px 0;
    }
  }
}

.UserCardAliasInfo {
  margin-left: 78px;
  flex: 1;

  &__Alias {
    font-size: 1.33em;
    margin-bottom: 36px;
  }

  &__Settings {
    display: flex;
    font-size: 0.83em;
  }

  &__EmailWrapper {
    margin-left: 24px;
    flex: 1;
  }

  &__Input {
    background-color: #f5f8ff;
    border-radius: 10px;
    border-width: 1px !important;
    border-color: hsl(0, 0%, 80%) !important;
    height: 48px !important;

    margin-top: 16px;

    &_email {
      width: 100%;

      &:focus,
      &:active {
        outline: 1px solid #4a72ff !important;
        border-color: #4a72ff !important;
      }
    }
    &_effMu {
      cursor: pointer;
    }
  }

  &__AdditionalInfo {
    font-size: 0.85em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.8);

    img {
      height: 1em;
      margin-right: 12px;
    }
  }

  &__AdditionalInfoLine {
    display: flex;
    // align-items: center;
    margin-top: 28px;
  }
}
