@import "./fonts";
@import "./normalize";
@import "./media";

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
