@import "src/assets/style/design.scss";

.color-palette {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin-left: 16px;
  background: #f5f8ff;
  height: 38px;
  border-radius: 10px;
  box-shadow: $shadow100;

  &__button {
    flex: 1;
    height: 36px;
    min-width: 36px;
    max-width: 36px;
    border-radius: 100%;
    transform: scale(0.82);
  }

  & .base-button_clear {
    transform: scale(0.7);
  }
}
